/*basic setup*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    color: rgb(5, 5, 5);
    font-family: 'Dancing Script', cursive, 'Arial', sans-serif;
    font-weight: 450;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}


header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/wall.jpg);
    background-size: cover;
    color: white;
    background-position: center;
    height: 100vh;
}
.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 4px;
}

/*------------display pictures---------*/

.product-showcase {
    list-style: none;
    width:100%;
}
.product-showcase li {
    display: block;
    float: left;
    width: 25%;
}
.photo {
    width: 100%;
    margin: 0;
}
.photo img {
    width: 100%;
    height: auto;
}


/*-----------2nd phase after pictures--------*/

p {
    font-family: 'Sriracha', cursive;
    font-weight: 20%;
    font-size: 90%;
    color: rgb(116, 111, 111);
}
h1{
    margin: 0;
    color: #fff;
    padding: 10px 30px;
    font-size: 240%;
    font-weight: 300;
    word-spacing: 10px;
}
h3{
    margin: 30px;
    color: #273c75;
    font-size: 150%;
}

h4{
    text-justify: auto;
    font-size: 240%;
    text-align: center;
    margin-bottom: 30px;
}

h4:after {
    display: block;
    width: 100px;
    height: 2px;
    background-color: #40739e;
    content: " ";
    margin: 0 auto;
    margin-top: 30px;
}
.long-copy {
    line-height: 140%;
    width: 70%;
    margin-left: 15%;
    font-size: 140%;
}
.box {
    padding: 2%;
}
.box p {
    line-height: 145%;
    font-size: large;
}


.btn:link, 
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    color: bisque;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-full:link,
.btn-full:visited {
       border: 3px solid #40739e;
}
.btn-ghost:link,
.btn-ghost:visited {
    border: 3px solid #40739e;
}
.btn:hover , 
.btn:active {
    background-color:#273c75;
}
.logo {
    height: 190px;
     width: auto;
    float: left;
    margin-top: 20px;
}


.main-nav {
    float: right;
    margin-top: 50px;
    list-style: none;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
    padding-top: 30px;
}
.main-nav li a:link,
.main-nav li a:visited {
    color: bisque;
    text-decoration: none;
    font-size: 120%;
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #487eb0;
}
